<div className="jumbotron">
  <h1>Music Review Website</h1>
  <div class="section-container">
    <section class="section">
      <fa-icon icon="music"></fa-icon>
      <p class="brief-description">Add Review to songs</p>
      <p class="description">
        Criticise or love the songs by giving your own opinion about them. See
        the ratings and reviews from the other people.
      </p>
    </section>

    <section class="section">
      <fa-icon icon="users"></fa-icon>
      <p class="brief-description">Be a confident user</p>
      <p class="description">
        Secure user authentication mechanism which allows the authenticated
        expose to different functionalities of the application.
      </p>
    </section>

    <section class="section">
      <fa-icon icon="users"></fa-icon>
      <p class="brief-description">Go crazy with your playlist</p>
      <p class="description">
        Create/Manage your own playlist, add songs, reviews, and have the
        liberty of all actions with your own playlist.
      </p>
    </section>
  </div>
</div>
