<div className="jumbotron">
  <div class="section-container">
    <section class="section">
      <fa-icon icon="star"></fa-icon>
      <p class="brief-description">Add Review to songs</p>
      <p class="description">
        Add reviews to different songs. View Reviews and rating from other
        users.
      </p>
    </section>

    <section class="section">
      <fa-icon icon="users"></fa-icon>
      <p class="brief-description">Create playlists</p>
      <p class="description">
        Create playlist, add songs, reviews for different playlists.
      </p>
    </section>
  </div>
</div>
