<div class="card">
  <div class="card-header">
    Songs List
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Search Song:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="songFilter" />
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0">
        <thead class="thead-light">
          <th>Title</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Year</th>
          <th>Comment</th>
          <th>Genre</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let song of filteredSongs">
            <td>{{ song.songTitle }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.album }}</td>
            <td>{{ song.year }}</td>
            <td>{{ song.comment }}</td>
            <td>{{ song.genre }}</td>
            <td>
              <a [routerLink]="['/songs', song.id]">Show Details</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
