<div class="songs-component-cntr">
  <div class="song-details-container">
    <div class="header">
      <div class="header-text">Top 10 Songs</div>
      <div class="search-container">
        <input
          type="text"
          name=""
          value=""
          placeholder="Search song, artsit, genre "
          class="search"
        />
      </div>
      <div class="create-playlist-button">
        <button class="btn btn-primary" [routerLink]="['/playlist']">
          Create Playlist
        </button>
      </div>
    </div>

    <div class="song-list-container">
      <div class="song-item-container" *ngFor="let song of songs">
        <div class="song-details">
          <p class="song-title">
            {{ song.songTitle }} <span>({{ song.year }})</span>
          </p>
          <div class="song-attributes">
            <span>ARTIST: {{ song.artist }}</span>
            <span>ALBUM: {{ song.album }}</span>
            <span>GENRE: {{ song.genre }}</span>
          </div>
        </div>

        <div class="add-review container">
          <button [routerLink]="['/review', '0']" class="btn btn-primary">
            Add Review
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
